@inject Microsoft.Extensions.Options.IOptions<LearningHub.Nhs.UserProfileUI.Configuration.WebSettings> webSettings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Learning Hub Account</title>
    <link href="~/css/nhsuk/nhsuk.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("styles", false)
</head>
<body>
    <header class="nhsuk-header" role="banner">
        <partial name="~/Views/Shared/_HeaderPartial.cshtml" />
    </header>

    <div class="nhsuk-width-container app-width-container beta-banner">
        <span class="beta-banner__beta-box">BETA</span>
        <span class="beta-banner__text">This is a new platform - your <a href="@(webSettings.Value.SupportUrls.SupportFeedbackForm)" target="_blank">feedback</a> will help us to improve it.</span>
    </div>

    <div class="nhsuk-width-container app-width-container--full">
        <main role="main" class="nhsuk-main-wrapper app-main-wrapper--no-padding nhsuk-bg-white">
            @RenderBody()
        </main>
    </div>

    <partial name="~/Views/Shared/_FooterPartial.cshtml" />

@*    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
