
@{
    ViewData["Title"] = "Resend Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int verifiableCredentialId = ViewBag.CredentialId;
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/pages/digitalstaffpassport.css" asp-append-version="true" />
}

<div class="nhsuk-width-container app-width-container nhsuk-u-padding-bottom-9  nhsuk-u-padding-top-4">
    <div class="nhsuk-u-reading-width">
    <h1 class="nhsuk-heading-xl nhsuk-u-padding-top-3">Add credential to wallet again: are you sure?</h1>
    <div>
        <p>
            Before adding this credential to your digital wallet again, please remove the existing credential from your wallet to avoid confusion.
        </p>
    </div>
    <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key no-bottom-border nhsuk-u-margin-bottom-5">
            <form asp-controller="DigitalStaffPassport" asp-action="SendCredential" method="post">
                <input type="hidden" name="verifiableCredentialId" value="@verifiableCredentialId" />
                <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-3">Confirm</button>
            </form>
            </dt>
            <dd class="nhsuk-summary-list__value no-bottom-border nhsuk-u-margin-bottom-5">
               <a asp-action="Credentials" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0 nhsuk-u-padding-right-3">Cancel</a>
            </dd>
        </div>
    </dl>

    </div>
</div>