@model IEnumerable<System.Security.Claims.Claim>

@{
    ViewData["Title"] = "ShowCredentialClaims";
}

<div class="nhsuk-width-container app-width-container nhsuk-u-padding-bottom-9">
    <h1>Credential Details</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Credential Type
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>